name: FastAPI CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    name: CI - Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest -q

  deploy:
    name: CD - Deployment Stage
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Trigger deployment on local server
        run: |
          curl -X POST http://192.168.0.163:9000/hooks/deploy-fastapi

